



.showcase_contaner {
    margin: 0px !important;
    padding: 0px !important;
    box-sizing: 0px !important;
    max-width: 1080px;
    border: 23px solid black;
}

.uploadButton {
    button {
        height: 30px;
        margin-left: 10px;
        border-inline-end-style:none;
        font-size: 12px;
    }
}